{% extends "layout/main.layout.twig" %}


{% block content %}

        {% if item.page.image1 != '' %}
        <div class="banner">
            <img src="/upload/page/{{ item.page.image1 }}" />
        </div>
        {% endif %}

        <div class="middle-content">
            
            <div class="page-content">
        
                <h3 class="page-title">{{ item.title|upper }}</h3>

                {% include 'partial/breadjump.twig' %}
                
            {% if step == 'app' %}
                {% include 'partial/career_app.twig' %}
            {% elseif step == 'form' %}
                {% include 'partial/career_form.twig' %}
            {% else %}
                {% include 'partial/career_step.twig' %}
            {% endif %}    
                
            </div>
        </div> <!-- #middle-content -->
        
        <div class="middle-right">
            
            <div class="right-col news page-list">
                <ul>
                    {% for cpage in cpages %}
                    <li {% if item.page_id == cpage.id  %}class="s-cpage"{% endif %}>
                        <a href="/{{lang}}/{{ cpage.content(lang).seo_url }}">{{ cpage.content(lang).title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        
            {% include 'partial/video_play.twig' %}
            
            {% include 'partial/newsletter.twig' %}
        </div>

{% endblock %}
