{% extends "layout/main.layout.twig" %}


{% block content %}

        {% if item.page.image1 != '' %}
        <div class="banner">
            <img src="/upload/page/{{ item.page.image1 }}" />
        </div>
        {% endif %}

        <div class="middle-content">
            
            <div class="page-content">
        
                <h3 class="page-title">{{ item.title|upper }}</h3>

                {% include 'partial/breadjump.twig' %}

                

            </div>

        </div> <!-- #middle-content -->
        
        <div class="middle-right">
            
            <div class="right-col news page-list">
                <ul>
                    {% for cpage in cpages %}
                    <li {% if item.page_id == cpage.id  %}class="s-cpage"{% endif %}>
                        <a href="/{{lang}}/{{ cpage.content(lang).seo_url }}">{{ cpage.content(lang).title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        
            <div class="right-col">
                <img src="../img/video_preview.png" />
            </div>
            
            <div class="right-col">
                <img src="../img/ebulten.png" />
            </div>
        </div>

{% endblock %}
