{% extends "layout/main.layout.twig" %}


{% block content %}

        {% if item.page.image1 != '' %}
        <div class="banner">
            <img src="/upload/page/{{ item.page.image1 }}" />
        </div>
        {% endif %}

        <div class="middle-content">
            
            <div class="page-content">
        
                <h3 class="page-title">{{ item.title|upper }}</h3>

                {% include 'partial/breadjump.twig' %}

                <div class="contact-form">
                
                    <form action="">
                    <div class="form-row">
                        <label for="fname">{{ T.form_name }}*</label>
                        <input class="form-item" type="text" name="name" value="" id="fname" />
                    </div>
                    <div class="form-row">
                        <label for="fname">{{ T.form_gsm }}*</label>
                        <input class="form-item" type="text" name="gsm" value="" id="fgsm" />
                    </div>
                    <div class="form-row">
                        <label for="fmail">{{ T.form_mail }}*</label>
                        <input class="form-item" type="text" name="email" value="" id="fmail" />
                    </div>
                    <div class="form-row">
                        <label for="fsubject">{{ T.form_subject }}</label>
                        <input class="form-item" type="text" name="subject" value="" id="fsubject" />
                    </div>
                    <div class="form-row">
                        <label for="fmessage">{{ T.form_name }}*</label>
                        <textarea class="form-item" name="message" value="" id="fmessage"></textarea>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-required">* {{ T.form_required }}</div>
                        <button type="button" class="form-btn">{{ T.form_send }}</button>
                    </div>
                    </form>
                </div>

            </div>

        </div> <!-- #middle-content -->
        
        <div class="middle-right">
            
            <div class="right-col news page-list">
                <ul>
                    {% for cpage in cpages %}
                    <li {% if item.page_id == cpage.id  %}class="s-cpage"{% endif %}>
                        <a href="/{{lang}}/{{ cpage.content(lang).seo_url }}">{{ cpage.content(lang).title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        
            <div class="right-col">
                <img src="../img/video_preview.png" />
            </div>
            
            <div class="right-col">
                <img src="../img/ebulten.png" />
            </div>
        </div>

{% endblock %}
