{% extends "layout/main.layout.twig" %}


{% block content %}

    
    
        <div class="banner main-banner">
        
<div class="banner-inner">
<img src="/img/banner1.png" />
<div class="banner-text">{{ T.banner_text1 }}</div>
</div>
<div class="banner-inner">
<img src="/img/banner2.png" />
<div class="banner-text">{{ T.banner_text2 }}</div>
</div>
        
            
        </div>
        
        <div class="middle-content">
            <div class="m-row">
            
            {% for idx,page in pages %}
            
                <div class="m{{ idx + 1 }} m-item">
                <img src="/upload/page/{{ page.image2 }}" />
                <div class="m-badget mb{{ idx + 1 }}">
                    <div class="goto">
                        <a href="/{{ lang ~ '/' ~ page.content(lang).seo_url }}">{{ page.content(lang).title }}</a> <br />
                        <a href="/{{ lang ~ '/' ~ page.content(lang).seo_url }}" class="detail">{{ T.detail_info }}</a>
                    </div>
                </div>
            </div>
            
            {% endfor %}

        </div>
            
            <div class="m-row mt30">
                <div class="extra-content">
                    <img class="company-present-img" src="/img/m_company.png" />
                    <div  class="company-info">

                        <h2>R & E TEKS</h2>

                        <h3>DENEYİM, ESTETİK, YAKLAŞIM</h3>

                        <p>25 yılı aşkın bilgi birikimi ile 2004 yılında kurulan R&E Teks 7 yıl gibi kısa bir sürede dev bir şirket haline geldi. Örme giyim alanında uzmanlık sahibi olan R&E Teks, R1(Mahmutbey) ve R2 (Düzce) fabrikaları olarak 2 ayrı noktada ve toplamda  600 çalışanıyla aylık 600.00 bin adet üretim gerçekleştirmektedir.</p>
                   
                        <div class="btn-holder"><a class="btn-devam" href="#">Devamı</a></div>
                   </div>
                </div>
            </div>
        </div>

        <div class="middle-right">
            
            <div class="right-col news">
                <div class="r-header">{{ T.news }}</div>
                
                
                <div class="news-slider">
                <a class="arrows-up slidesjs-previous slidesjs-navigation"></a>
                <a class="arrows-down slidesjs-next slidesjs-navigation"></a>
                {% for item in news %}
                <div>
                <label>{{ item.start_date|date("d.m.Y") }}</label>
                <h4>{{ item.content.title }}</h4>
                <p>{{ item.content.content }}</p>
                </div>
                {% endfor %}
                </div>
            </div>
        
            <div class="right-col">
                <img src="../img/video_preview.png" />
            </div>
            
            <div class="right-col">
                <img src="../img/ebulten.png" />
            </div>
        </div>

{% endblock %}
