{% extends "layout/main.layout.twig" %}


{% block content %}

        {% if item.page.image1 != '' %}
        <div class="banner">
            <img src="/upload/page/{{ item.page.image1 }}" />
            <div class="banner-txt">
                <div class="banner-caption">
                    {{ category.getBannerName(lang) }}<br>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="middle-content">

            <div class="page-content">
        
                <h3 class="page-title">{{ upperTR(item.title) }}</h3>

                {% include 'partial/breadjump.twig' %}

                <div class="page-text">{{ item.content|raw }}</div>
                
                {% if item.page.gallery|length > 0 %}
                    {% include 'partial/gallery.twig' with {'gallery' : item.page.gallery} %}
                {% endif %}
            </div>

        </div> <!-- #middle-content -->
        
        <div class="middle-right">
            
            <div class="right-col news page-list">
                <ul>
                    {% for cpage in cpages %}
                    <li {% if item.page_id == cpage.id  %}class="s-cpage"{% endif %}>
                        <a href="/{{lang}}/{{ cpage.contents[0].seo_url }}">{{ cpage.contents[0].title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        
            {% if category.block_video %}
            {% include 'partial/video_play.twig' %}
            {% endif %}
            
            {% if category.block_newsletter %}
            {% include 'partial/newsletter.twig' %}
            {% endif %}
        </div>

{% endblock %}
