{% extends "layout/main.layout.twig" %}


{% block content %}

        {% if item.page.image1 != '' %}
        <div class="banner">
            <img src="/upload/page/{{ item.page.image1 }}" />
        </div>
        {% endif %}

        <div class="middle-content">

            <div class="page-content">
        
                <h3 class="page-title">{{ mb_strtoupper(item.title) }}</h3>

                {% include 'partial/breadjump.twig' %}

                <p class="page-text">{{ item.content|raw }}</p>
                
                
                {% if item.page.gallery|length > 0 %}
                    {% include 'partial/gallery.twig' with {'gallery' : item.page.gallery} %}
                {% endif %}

            </div>

        </div> <!-- #middle-content -->
        
        <div class="middle-right">
            
            <div class="right-col news page-list">
                <ul>
                    {% for cpage in cpages %}
                    <li {% if item.page_id == cpage.id  %}class="s-cpage"{% endif %}>
                        <a href="/{{lang}}/{{ cpage.content(lang).seo_url }}">{{ cpage.content(lang).title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        
            {% include 'partial/video_play.twig' %}
            
            {% include 'partial/newsletter.twig' %}
        </div>

{% endblock %}
