<div class="right-col users-slider">

    <div class="users-inner">
        <div class="user-info">
            <div class="brand-opinion">{{ T.brand_opinion }}</div>
            <div class="user-opinion">{{ T.user_opinion1|raw }}</div>
        </div>
        <img src="/img/profil1.jpg" />
    </div>
    <div class="users-inner">
        <div class="user-info">
            <div class="brand-opinion">{{ T.brand_opinion }}</div>
            <div class="user-opinion">{{ T.user_opinion2|raw }}</div>
        </div>
        <img src="/img/profil2.jpg" />
    </div>
    <div class="users-inner">
        <div class="user-info">
            <div class="brand-opinion">{{ T.brand_opinion }}</div>
            <div class="user-opinion">{{ T.user_opinion3|raw }}</div>
        </div>
        <img src="/img/profil3.jpg" />
    </div>
    <div class="users-inner">
        <div class="user-info">
            <div class="brand-opinion">{{ T.brand_opinion }}</div>
            <div class="user-opinion">{{ T.user_opinion4|raw }}</div>
        </div>
        <img src="/img/profil4.jpg" />
    </div>
</div>