{% extends "layout/admin.layout.twig" %}


{% block content %}

<table class="table">
      <caption>

        <ol class="breadcrumb">
            <li>Sayfalar</li>
            <li><select onchange="location.href= '?cat=' + this.value; return false; " name="category">
            <option value="">Filtrelemek için seçiniz..</option>
            {% for cat in categories %}
            <option value="{{ cat.id }}" {% if category==cat.id %}selected{% endif %}>{{ cat.getName('tr') }}</option>
            {% endfor %}
        </select></li>
  
  </ol>

    </caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Sayfa Adı</th>
          <th>Sayfa Adı (2. Dil)</th>
          <th>Sayfa Url</th>
          <th>Sayfa Url  (2. Dil)</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        {% for index,page in pages %}
        <tr>
          <th scope="row">{{ index+1 }}</th>
          <td><a href="/admin/page/{{ page.id }}?tab=tr">{{ page.contents[0].title }}</a></td>
          <td><a href="/admin/page/{{ page.id }}?tab=en">{{ page.contents[1].title }}</a></td>
          <td><a href="/{{ page.contents[0].lang }}/{{ page.contents[0].seo_url }}" target="_blank">{{ page.contents[0].seo_url }}</a></td>
          <td><a href="/{{ page.contents[1].lang }}/{{ page.contents[1].seo_url }}" target="_blank">{{ page.contents[1].seo_url }}</a></td>
          <td><a href="/admin/page/{{ page.id }}" class="btn btn-success" >Düzenle</a></td>
        </tr>
        
        {% else %}
        
        <tr>
          <td colspan="6">Kayıt bulunamadı. Eklemek için <a href="/admin/page/new">tıklayın.</a></th>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
{% endblock %}